/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/* Set every element's box-sizing to border-box */
* {
  box-sizing: border-box;
}
html,
body {
  height: 100%;
  overflow-x: hidden;
  overflow-y: auto;
}
@media (max-width: 800px) {
  html,
  body {
    background-color: #96ceb4;
  }
}
html {
  font-size: 62.5%;
  background-color: #ffeead;
}
.sideBar {
  height: 100%;
  width: 16rem;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #ff6f69;
  padding-top: 2rem;
}
@media screen and (max-width: 800px) {
  .sideBar {
    height: 20rem;
    float: none;
    width: 100%;
  }
}
.sideBar nav {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 60%;
}
.sideBar nav ul.topNav {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: 100%;
}
@media screen and (max-width: 800px) {
  .sideBar nav ul.topNav {
    width: 100%;
    flex-direction: row;
    justify-content: space-evenly;
  }
}
.sideBar nav ul.topNav li {
  background-color: #88d8b0;
  border: solid black 1px;
  border-radius: 1rem;
  padding: 1rem;
  text-align: center;
}
.sideBar nav ul.topNav li a {
  text-decoration: none;
  font-size: 1.5rem;
  color: black;
  font-family: "Oswald", sans-serif;
}
.sideBar img {
  border-radius: 0 50% 50% 50%;
  border: black solid 1px;
  height: 10rem;
  width: 10rem;
}
.container {
  max-width: 800px;
  margin: 5rem 20rem;
  border: solid black 1px;
  background-color: #96ceb4;
}
.container div.topSection h1 {
  text-align: center;
  font-size: 5rem;
  font-family: "Oswald", sans-serif;
}
.container div.topSection h3 {
  font-family: "Oswald", sans-serif;
  text-align: center;
  font-size: 2rem;
  padding-top: 1.5rem;
  padding-left: 10rem;
  padding-bottom: 2rem;
}
.container div.topInfo {
  padding-bottom: 2rem;
}
.container div.topInfo p.boutme {
  font-family: "Oswald", sans-serif;
  font-size: 1.5rem;
  letter-spacing: 0.1rem;
  padding-left: 0.7rem;
  padding-right: 0.7rem;
}
@media (max-width: 800px) {
  .container div.topInfo p.boutme {
    padding-left: 10rem;
    padding-right: 10rem;
  }
}
.container div.PJ {
  display: flex;
  justify-content: space-around;
}
.container div.PJ div.pjportrait {
  font-family: "Oswald", sans-serif;
  text-align: center;
  font-size: 2rem;
  padding-bottom: 2rem;
}
.container div.PJ img {
  height: 30rem;
  width: 16rem;
  padding-bottom: 1rem;
}
.container div.PJ a {
  text-decoration: none;
  color: black;
}
@media (max-width: 800px) {
  .container div.PJ {
    margin: 0 20rem;
    display: flex;
    flex-wrap: wrap;
  }
}
.container div.midSection {
  display: flex;
  justify-content: space-between;
}
.container div.midSection div.skills {
  border: solid black 1px;
  border-left: 0.5px;
}
.container div.midSection div.skills h3 {
  text-align: center;
  font-family: "Oswald", sans-serif;
  font-size: 2rem;
  letter-spacing: 0.2rem;
}
.container div.midSection div.skills ul {
  padding-left: 0.2rem;
  list-style: square;
  list-style-position: inside;
}
.container div.midSection div.skills ul li {
  padding: 0.8rem;
  font-family: "Oswald", sans-serif;
  font-size: 2rem;
}
.container div.midSection div.workHistory {
  border: solid black 1px;
  border-left: 0.5px;
  border-right: 0.5px;
}
.container div.midSection div.workHistory h3 {
  text-align: center;
  font-family: "Oswald", sans-serif;
  font-size: 2rem;
  letter-spacing: 0.2rem;
}
.container div.midSection div.workHistory ul {
  padding-left: 0.2rem;
  list-style: square;
  list-style-position: inside;
}
.container div.midSection div.workHistory ul li {
  padding: 0.8rem;
  font-family: "Oswald", sans-serif;
  font-size: 2rem;
}
.container footer {
  border: solid black 1px;
  border-top: 0.5px;
  border-left: 0.5px;
  border-right: 0.5px;
  height: 10rem;
}
.container footer nav.mediaLinks {
  height: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.container footer nav.mediaLinks a {
  text-decoration: none;
  color: black;
  background-color: #ff6f69;
  font-size: 1.5rem;
  border: solid black 1px;
  border-radius: 1rem;
  padding: 1rem;
  text-align: center;
  font-family: "Oswald", sans-serif;
}
@media (max-width: 800px) {
  .container {
    width: 100%;
    height: 100%;
    margin: 20rem auto;
    border: 0px;
  }
}
